.advertencia-box {
  background-color: #fff3cd;
  border: 2px solid #ffc107;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.advertencia-icono {
  font-size: 50px;
  color: #ffc107;
  margin-bottom: 10px;
}


